<div [hidden]="isClose" class="wrapper" (click)="cancel($event)">
  <div class="note-editor">
    <form class="note-form" autocomplete="off" (ngSubmit)="submitNote()">
      <input
      #noteTitle
        type="text"
        class="title"
        [(ngModel)]="note.title"
        name="note.title"
        placeholder="title"
        required />
      <textarea
        #noteBody
        name="note.content"
        [(ngModel)]="note.content"
        class="content"
        required></textarea>
      <div class="tags-container">
        <span class="tag" *ngFor="let tag of note.tags; trackBy: trackTagsById">{{tag.name}}
          <i class="delete" (click)="removeTag($event)">x</i>
        </span>
      </div>
      <div class="footer">
        <span class="status">{{status}}</span>
        <form class="tag-form" autocomplete="off" (ngSubmit)="addTag()">
            <span
              class="tag-dropdown-container"
              *ngIf="shouldOpenTagsDropup">
                <ul class="dropup-items">
                  <li *ngFor="let tag of foundTags" (click)="selectSuggesteTag(tag.name)">{{tag.name}}</li>
                </ul>
            </span>
            <span  class="form-inputs">
              <input
                #tagInput
                (focusin)="createTagSearchListener($event)"
                *ngIf="isTagInputOpen"
                type="text" maxlength="70"
                [(ngModel)]="tag"
                (input)="closeTagsDropup()"
                name="tag" autofocus />
              <button
                class="add-tag"
                type="button"
                [value]="isTagInputOpen ? 'x' : '+'" 
                (click)="toggleTagInput()">
                  <span *ngIf="isTagInputOpen">X</span>
                  <span *ngIf="!isTagInputOpen">Tag</span>
              </button>
            </span> 
          </form>
        <button class="close" type="button" (click)="cancel($event)" class="cancel">Close</button>
        <button type="submit" class="submit">Save</button>
      </div>
    </form>
  </div>
</div>