:host {
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}

.note-editor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: fit-content;
  height: 30em;
  background-color: rgba(255, 255, 245, 1);
  padding: 0;
  font-size: 120%;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  box-shadow: 0px 0 5px 1px rgba(0, 0, 0, 0.7);
}

.note-editor>form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.note-editor>form>.title {
  height: 3.5em;
  font-size: 120%;
  outline: none;
  border: none;
  padding: 1px 5px;
  background-color: #54426B;
  text-align: center;
  color: #fff;
  border-top-right-radius: inherit;
}

.note-editor form textarea {
  resize: none;
  outline: none;
  padding: .5em .5em 0;
  background-color: #E9F1F7;
  font-size: 105%;
  color: rgba(0, 0, 0, 0.8);
}

.note-editor form button {
  cursor: pointer;
  display: inline-block;
  background-color: #54426B;
  color: white;
  padding: 0 10px;
  max-width: 25%;
  align-self: flex-end;
  height: 100%;
  margin: 0 .2em;
  outline: none;
  border: 1px solid black;
}

.note-editor form  button:hover {
  box-shadow: 0 0 5px 2px #fff;
}

.note-editor form button.cancel {
  background-color: #fff;
  color: #54426B;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5em;
  box-sizing: content-box;
  z-index: 1;
  background-color: #54426B;
  border-bottom-left-radius: inherit;
}
