:host {
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  box-sizing: content-box;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}

.note-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  height: 30em;
  width: 90%;
  min-height: 60%;
  max-height: 80%;
  background-color: rgba(255, 255, 245, 1);
  padding: 0;
  font-size: 120%;
  box-shadow: 0px 0 5px 1px rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
}

.note-editor>form {
  display: flex;
  width: 100%;
  height: 100% !important;
  flex-direction: column;
  padding: 0;
}

.note-editor>form>.title {
  height: 8%;
  font-size: 1.2em;
  outline: none;
  border: none;
  padding: 1px 5px;
  background-color: #34E4EA;
  text-align: center;
  color: #fff;
  border-top-right-radius: inherit;
}

.note-editor form textarea {
  resize: none;
  outline: none;
  padding: .5em .5em 0;
  height: 78%;
  background-color: white;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

.note-editor form button,
.note-editor .footer .tag-form button {
  cursor: pointer;
  display: inline-block;
  background-color: white;
  color: #54426B;
  font-size: .5em;
  font-weight: bold;
  padding: 2px;
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: .5em;
  outline: none;
  border-radius: 15%;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px 1px #fff;
}

.tags-container {
  position: relative;
  padding: .2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .4);
  height: 5%;
}
.tags-container:hover {
  height: fit-content;
}

.tags-container .tag {
  position: relative;
  z-index: 1000;
  display: inline-block;
  font-size: .5em;
  font-style: italic;
  font-weight: bold;
  margin-right: .5em;
  margin-bottom: .5em;
  height: fit-content;
  padding: .2em;
  border: 1px solid transparent;
  background-color: rgba(238, 240, 24, .4);
  color: rgb(31, 27, 27);
}

.tag .delete {
  padding: 0 .2em !important;
  font-weight: bold !important;
  margin-top:auto !important;
  margin-bottom: auto !important;
  color:rgba(0,0,0, .4) !important;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: hidden;
  height: 8%;
  box-sizing: content-box;
  z-index: 1;
  background-color: rgba(52, 228, 234, .2);
  border-bottom-left-radius: inherit;
}

.footer .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: .3em;
  color: white;
  margin-right: auto;
  padding-left: .6em;
  padding-right: .6em;;
  background-color: rgba(0, 0, 0, .5)
}

.footer  > button[type="submit"] {
  background-color: whitesmoke;
}

.footer form.tag-form {
  position: relative;
  box-sizing: content-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.footer .tag-form .form-inputs {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.footer .tag-form button {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  font-size: .5em;
}

.footer .tag-form input[type="text"] {
  padding-left: 4px;
  padding-right: 4px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.2);
  border-style: none;
  margin-right: .1em;
}

.footer .tag-form .tag-dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  bottom: 100%;
  margin-right: 1em;
  width: 90%;
}

.tag-dropdown-container ul {
  list-style: none;
  max-width: 100%;
  max-height: 15em;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.tag-dropdown-container li {
  display: flex;
  justify-content: flex-start;
  height: 1em;
  overflow: hidden;
  font-size: .7em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 0;
  padding-left: 5px;
  background-color: rgba(196, 147, 176, 0.6);
  color: rgb(200, 255, 255);
}

.tag-dropdown-container li:nth-child(odd) {
  background-color: rgba(196, 147, 176, .8);
  color: rgb(255, 255, 255);
}

.tag-dropdown-container li:hover {
  cursor: pointer;
  background-color: #54426B;
  color: #f1f1f1;
}

@media only screen and (min-width: 550px) {
  .note-editor {
    max-width: 70%;
    height: 25em;
    margin-top: 3em;
  }
}

@media  only screen and (min-width: 800px) {
  .note-editor {
    width: 40%;
  }
}
@media  only screen and (min-width: 1000px) {
  .note-editor {
    width: 50%;
  }
}

@media only screen and (max-height: 450px) {
  .note {
    height: 13em;
  }

  .note > .note-title {
    font-size: .8em;
  }

  .note > .body {
    font-size: .6em;
  }

  .footer > .tag-form > button {
    box-shadow: none;
    /* padding-top: .1em !important; */
    /* margin-top: 0 !important; */
  }
}

