<div [hidden]="isClose" class="wrapper" (click)="cancel($event)">
  <div  class="note-editor">
    <form (ngSubmit)="submitNote()">
      <input type="text" class="title" [(ngModel)]="note.title" name="note.title" placeholder="title" required />
      <textarea name="note.content" [(ngModel)]="note.content" rows="80" cols="45" class="content" required></textarea>
      <div class="footer">
        <button type="button" (click)="cancel($event)" class="cancel">Cancel</button>
        <button type="submit" class="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
