<div class="dashboard">
  <header class="main-header">
    <h4>What am I looking at</h4>
    <span class="profile" (mouseenter)="showUserOptions()" (mouseleave)="hideUserOptions()">
      <div class="user-icon">
        <img src="../assets/profile_default.png" />
        <h5>John</h5>
      </div>
      <ul class="user-options" [hidden]="!isUserOptionsVisible">
        <li class="option">Settings</li>
        <li class="option" (click)="logout()">Logout</li>
      </ul>
    </span>
  </header>
  <div class="main">
    <div class="controls">
      <div class="add" (click)="addNewNote()">+</div>
      <app-note-editor (close)="closeNoteEditor()" [note]="note" [isClose]="!isEditorOpen"></app-note-editor>
      <input type="search" placeholder="search for  a note" />
    </div>

    <section class="notes-container">
      <app-note></app-note>
      <app-note></app-note>
      <app-note></app-note>
      <app-note></app-note>
      <app-note></app-note>
      <app-note></app-note>
    </section>
  </div>
</div>