
.user-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.dashboard > .main-header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 5px 20px;
  margin-bottom: 5%;
  text-align: center;
  height: 3em;
  background-color: #54426B;
  color: #E9F1F7;
}

.dashboard > .main-header > h4 {
  align-self: center;
  min-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.main-header > .profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  height: fit-content;
}


.main-header .user-icon {
  display: flex;
  flex-direction: row;
}

.main-header  .user-icon > img {
  width: 3em;
  height: 3em;
  border-radius: 100%;
}

.main-header .user-icon > h5 {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}

.user-options {
  background-color: #E9F1F7;
  color: rgba(0,0,0, 0.8);
  border: 1px solid rgb(84,66,107)
}

.user-options > li {
  cursor: pointer;
  border-style: solid;
  border-color:rgba(84,66,107, 0.3);
  border-width: 1px 0;
  list-style-type: none;
  height: 2em;
}
.user-options > li:hover {
  background-color: rgba(84,66,107, 0.2);

}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add {
  display: flex;
  flex-direction:column;
  justify-content: space-around;  
  width: 2.5em;
  height:2.5em;
  margin: 20px;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: #54426B;
  opacity: 0.7;
  box-shadow: 0 0 10px #847E89;
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
  align-self: right;
  border: 0;
  border: 1px solid rgba(0,0,0, .6);
  border-radius: 5em;
  padding: 5px 10px;
  display: inline-block;  
  width: 40%;
  height: 3em;

  font-size: 1.2em;
  margin: auto 20px;
  color: rgba(84, 66, 107, .9);
}

.not-found {
  position: fixed;
  bottom: 50%;
  left: 35%;
  font-size: 3em;
  color: rgba(84, 66, 107, .7); 
}

input[type="search"]:focus {
  outline: 0;
}

.add:hover {
  box-shadow: 0 0 20px #847E89;
  opacity: 0.9;
}

.notes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}
