<div class="dashboard">
  <header class="main-header">
    <h4>You're viewing {{pageContentDescription}}</h4>
    <span class="profile" (mouseenter)="showUserOptions()" (mouseleave)="hideUserOptions()">
      <div class="user-icon">
        <img [src]="profilePictureUrl" />
        <h5>{{currentUser.username}}</h5>
      </div>
      <ul class="user-options" [hidden]="!isUserOptionsVisible">
        <li class="option" (click)="showProfile()">Profile</li>
        <li class="option" (click)="logout()">Logout</li>
      </ul>
    </span>
  </header>
  <div class="main">
    <div class="controls">
      <div class="add" (click)="addNewNote()">+</div>

      <input maxLength="100" name="searchTerms" (keydown)="searchNotes()" [(ngModel)]="searchTerms" type="search" placeholder="search for  a note"
      />

    </div>
    <section class="notes-container">
      <app-note (editNote)="editNote($event)" *ngFor="let fetchedNote of notes" [note]  ="fetchedNote"></app-note>
      <div class="not-found" *ngIf="noNotes">No Note Was Found</div>
    </section>
  </div>
</div>
<app-note-editor (close)="closeNoteEditor()" [isEditing]="!isEditorCreating" [note]="note" [isClose]="!isEditorOpen"></app-note-editor>
