<div class ="auth">
  <header class="headings">
    <h1 class="heading">Idea</h1>
    <h3 class= "subheading">Organize your thought in one place</h3>
  </header>

  <ng-template #calltoaction>
    <div  class="buttons-container">
      <button class="btn-signup" (click)="showSignup()">Sign Up</button>
      <button class="btn-login" type="button" (click)="showLogin()">Login</button>
    </div>
  </ng-template>

  <ng-template #login>
    <ida-login [@slide] (showSignup)="showSignup()"></ida-login>
  </ng-template>

  <ng-template #signup>
    <ida-signup [@slide] (showLogin)="showLogin()"></ida-signup>
  </ng-template>

  <ng-container *ngIf="!loginClicked && !signupClicked; then calltoaction">
  </ng-container>
  <ng-container *ngIf="loginClicked; then login"></ng-container>
  <ng-container *ngIf="signupClicked; then signup"></ng-container>

  <footer>
    <h5 class="copyright">&copy; 2020</h5>
  </footer>
</div>
