@import '../../../../_variables';

.sidenav {
  width: 40px;
  height: 100vh;
  background: #54426bf8;
  position: fixed;
  padding-right: .5rem;
  transition: all .2s ease-in-out;

  &.expanded {
    width: 340px;
  }

  .wrapper {
    margin-top: 5rem;
  }

  li {
    margin-bottom: .3rem;
  };
}
