<div class="dashboard" (window:resize)="setIsLargeDevice()">
  <header class="main-header">
    <div class="icon-wrapper"><img src="assets/idea.png"/></div>
    <input class="search" maxLength="100" name="searchTerms" (keydown)="searchNotes()" [(ngModel)]="searchTerms" type="search" placeholder="search for  a note"
    />
    <span class="profile" (mouseenter)="showUserOptions()" (mouseleave)="hideUserOptions()">
      <div class="user-icon">
        <img [src]="profilePictureUrl" />
        <h5>{{currentUser?.username}}</h5>
      </div>
      <ul class="user-options" [hidden]="!isUserOptionsVisible">
        <li class="option" (click)="showProfile()">Profile</li>
        <li class="option" (click)="logout()">Logout</li>
      </ul>
    </span>
  </header>
  <ida-sidenav
    [isLargeDevice]="isLargeDevice"
    (tagSelected)="filterByTag($event)"
  >
  </ida-sidenav>
  <div class="main">
    <section class="notes-container">
        <div class="note-wrapper"*ngFor="let note of filteredNotes || notes">
          <ida-note
            [isTitleView]="!isGridView"
            (editNote)="editNote($event)"
            [note]="note">
          </ida-note>
        </div>
      <div
        class="not-found" *ngIf="noNotes">No Note Was Found</div>
    </section>
  </div>
</div>

<div class="tools-wrapper">
  <ida-tools
    class="tools-host"
    (createNote)="addNewNote()"
    (toggleView)="toggleView($event)"
    [grid]="isGridView"
  >
  </ida-tools>

</div>
<ida-note-editor
  (close)="closeNoteEditor()"
  [isEditing]="!isEditorCreating"
  [note]="note"
  [isClose]="!isEditorOpen">
</ida-note-editor>
