@import 'src/_variables.scss';

$sidenav-width: 340px;

.scss.user-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.dashboard > .main-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 5px 2px;
  text-align: center;
  height: 3em;
  width: 100%;
  background-color: #54426B;
  color: #E9F1F7;
  z-index: 1000;
  .icon-wrapper {
    width: 2rem;
    height: 2rem;
    margin-top: auto;
    margin-top: 0.5rem;
    margin-right: auto;
    border-radius: 100%;
    background-color: #c2c204;
    img {
      height: 100%;
      border-radius: 100%;
    }
  }
}

.dashboard > .main-header > h4 {
  align-self: left;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.main-header > .profile {
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.main-header .user-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-header  .user-icon > img {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

.main-header .user-icon > h5 {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 3px;
  height: fit-content;
}

.user-options {
  background-color: #E9F1F7;
  color: rgba(0,0,0, 0.8);
  border: 1px solid rgb(84,66,107)
}

.user-options > li {
  cursor: pointer;
  border-style: solid;
  border-color:rgba(84,66,107, 0.3);
  border-width: 1px 0;
  list-style-type: none;
  height: 2em;
}
.user-options > li:hover {
  background-color: rgba(84,66,107, 0.2);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 8em 20px;
  width: 85%;
  margin-left: auto;
}


input[type="search"] {
  -webkit-appearance: none;
  align-self: right;
  border: 0;
  border: 1px solid rgba(0,0,0, .6);
  border-radius: .25em;
  padding: 5px 10px;
  display: inline-block;
  width: 75%;
  height: 2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  font-size: 1em;
  color: rgba(84, 66, 107, .9);
}

.not-found {
  position: fixed;
  bottom: 50%;
  left: 35%;
  font-size: 3em;
  color: rgba(84, 66, 107, .7);
}

input[type="search"]:focus {
  outline: 0;
}


.notes-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (max-width: calc(#{$large-devices} - 1px)) {
  .main {
    width: 76%;
  }
}

@media  only screen and (min-width: $large-devices) {
  .main {
    width:  calc(100% - (#{$sidenav-width} + 20px));
    margin-top: 3em;
    align-self: center;
    margin-left: 360px;
  }

}

.note-wrapper {
  width: 98%;
}

@media only screen and (min-height: 700px) {
  .controls {
    padding: .5em 0;
  }

  .main {
    margin-top: 6em;
  }
}

@media only screen and (max-height: 450px) {
  .dashboard > .main-header {
    height: 1.9em;
    margin-bottom: .5em;
  }

  .main-header > h4 {
    font-size: 90%;
  }

  .controls {
    top: 3em;
    padding: .5em 0;
  }

  .main {
    margin-top: 5em;
  }
}

.note-wrapper {
  width: 98%;
}

@media only screen and (min-width: 550px) {
  .note-wrapper {
    width: 45%;
  }
}

.tools-wrapper {
  position: fixed;
  top: 80vh;
  right: 7%;
  width: 3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}


@media  only screen and (min-width: 800px) {
  .note-wrapper {
    width: 30%;
  }
}


@media  (max-width: 800px) {
  .tools-wrapper {
    right: 2%;
  }
}

@media only screen and (max-height: 450px) {


}


