<div class="signup">
    <form action="#" method="GET">
      <input type="text" name="firstname" placeholder="firstname" required/>
      <input type="text" name="lastname" placeholder="lastname" required />
      <input type="email" name="email" placeholder="you@domain.com" required/>
      <input type="username" name="username" placeholder="username" required>
      <input type="password" name="confirm-password" placeholder="confirm password" required />
      <button type="button">Signup</button>
    </form>
    <span (click)="login()">Already have an account? Login here.</span>
</div>