<div class="dashboard">
  <header class="main-header">
    <h4>What am I looking at</h4>
    <span>
      <img src="../assets/profile_default.png" />
      <h5>John</h5>
    </span>
  </header>
  <div class="main">
    <div class="controls"> 
        <div class="add">+</div>
        <input type="search" placeholder="search for  a note" />
    </div>

    <section class="notes-container">
      <div class="note">
        <div class="note-title">
          <h4 class="class">Lorem Ipsum</h4>
        </div>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
          amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
          nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
          commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
          pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
          justo, blandit id leo dignissim, elementum vestibulum arcu.
        </div>
        <footer>
          <span class="options">...</span>
        </footer>
      </div>
      <div class="note">
        <div class="note-title">
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
          amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
          nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
          commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
          pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
          justo, blandit id leo dignissim, elementum vestibulum arcu.
        </div>
        <footer>
          <span class="options">...</span>
        </footer>
      </div>
      <div class="note">
        <div class="note-title">
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
          amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
          nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
          commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
          pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
          justo, blandit id leo dignissim, elementum vestibulum arcu.
        </div>
        <footer>
          <span class="options">...</span>
        </footer>
      </div>
      <div class="note">
        <div class="note-title">
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
          amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
          nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
          commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
          pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
          justo, blandit id leo dignissim, elementum vestibulum arcu.
        </div>
        <footer>
          <span class="options">...</span>
        </footer>
      </div>
      <div class="note">
        <div class="note-title">
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
          amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
          nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
          commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
          pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
          justo, blandit id leo dignissim, elementum vestibulum arcu.
        </div>
        <footer>
          <span class="options">...</span>
        </footer>
      </div>
      <div class="note">
        <header class="note-title">
          <h4>Lorem Ipsum</h4>
        </header>
        <div class="body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
          amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
          nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
          commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
          pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
          justo, blandit id leo dignissim, elementum vestibulum arcu.
        </div>
        <footer>
          <span class="options">...</span>
        </footer>
      </div>
    </section>
  </div>
</div>