.auth {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #54426B;
  color: #E9F1F7;
  text-align: center;
  padding-top: 10%;
  box-sizing: border-box;
}

.headings  h1{
  font-size: 150px;
}

.headings h3 {
  font-size: 90%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.buttons-container button {
  align-self: center;
  width: 15em;
  height: 4em;
  margin: .6em;
  color: #E9F1F7;
}

.buttons-container  .btn-signup {
  background-color: #DBD5B2;
}

.buttons-container .btn-login {
  background-color: rgba(219, 213, 178, 0.85)
}

.copyright {
  font-size: 1.5em;
}
