<div class="note">
  <div class="note-title">
    <h4 class="class">Lorem Ipsum</h4>
  </div>
  <div class="body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu consectetur eros. Maecenas mollis diam dolor, sit
    amet dapibus nisi vestibulum accumsan. Aenean consectetur fermentum lobortis. Aliquam tincidunt tincidunt nibh,
    nec venenatis nisl congue nec. Aenean rutrum est a rhoncus mollis. Proin a ornare velit. Pellentesque sit amet
    commodo enim. Aenean ut ante maximus, auctor risus eget, luctus leo. Duis quis pharetra orci, ut egestas leo. Etiam
    pharetra lorem sapien, id consectetur tellus gravida id. Morbi rhoncus lorem quis varius vestibulum. Donec ipsum
    justo, blandit id leo dignissim, elementum vestibulum arcu.
  </div>
  <footer>
    <div class="options">...</div>
  </footer>
</div>
